/* reset CSS */
body {
  margin: 0;
}

.container {
  background-color: pink;
}

.item {
  padding: 5%;
}

.item-a {
  background-color: yellow;
}

.item-b {
  background-color: green;
}

@media screen and (min-width: 700px) {
  .container {
    font-size: 0;
  }

  .item {
    display: inline-block;
    vertical-align: top;
    font-size: 1rem;
  }

  .item-a {
    width: 30%;
  }

  .item-b {
    width: 50%;
  }
}