/* reset CSS */
body {
  margin: 0;
  font-size: 0;
}

.item {
  display: inline-block;
  padding: 5%;
}

.item-a {
  width: 30%;
  background-color: yellow;
}

.item-b {
  width: 50%;
  background-color: green;
}